<!DOCTYPE html>
<html>

<head>
    <title>CS 4310 HW 1</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://d3js.org/topojson.v3.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/styles/site.css" />

    <style>
        .gridlines line {
            stroke: #bbb;
        }

        .gridlines .domain {
            stroke: none;
        }
    </style>
</head>

<body>
    <div class="v-title">
        <h2>Ownership of Trees Planted in San Francisco: 1988 to 2021</h2>
    </div>

    <div class="legend">
        <div class="private circle"></div>
        <div class="care">Private</div>
        <div class="public circle"></div>
        <div class="care">Public</div>
    </div>

    <div class="flex">
        <svg id="line-graph" height="500" width="1000"></svg>
    </div>

    <p>
        The graph above displays the number of trees planted per year in terms of their caretaker, or owner (public
        entity or private).
        Not every tree planted during these years is represented due to incomplete data. However, the
        distribution of the data points remains consistent with expectations, given the factors influencing
        the rate at which trees were planted each year. <br><br>

        Most notably, trees are consistently planted under the care of private entities at a higher rate than
        public ones, except for a spike in public plantings from 2005 to 2008. Interestingly, this coincides
        with then-Mayor Gavin Newsom&#39;s Trees for Tomorrow campaign, which brought 25,000 new trees to the city.
        A <a href="https://sfenvironment.org/sites/default/files/fliers/files/sfe_uf_2008_annual_uf_report.pdf">
            2008 annual report</a> by the San Francisco Urban Forestry Council shows that his goal of planting 5,000
        trees from 2007 to 2008 was exceeded for that timeframe in particular. <br><br>

        Unfortunately, the city faced a major budget deficit in 2011. To cut costs, Newsom's successor transferred
        the care of several thousand trees to private owners from 2012 onwards. This spike and subsequent drop
        in public ownership and planting of trees is reflected in the graph. <br><br>

        <em>
            <a href="https://www.sfpublicpress.org/proposition-e-returning-tree-maintenance-to-city-hall/">(Source)</a>
        </em>
    </p>

    <script>
        const svg = d3.select("#line-graph");
        const width = svg.attr("width");
        const height = svg.attr("height");
        const margin = { top: 20, right: 20, bottom: 70, left: 100 };
        const chartWidth = width - margin.left - margin.right;
        const chartHeight = height - margin.top - margin.bottom;

        let annotations = svg.append("g").attr("id", "annotations");
        const chartArea = svg.append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        const requestData = async function () {
            const trees = await d3.csv("../static/Street_Tree_List-2022-01-30_FILTERED.csv");

            dict = {};
            private = {};
            public = {};
            caretakers = {};
            trees.forEach(d => {
                if (Number(d['year']) >= 1988 && Number(d['year']) <= 2021) {
                    if (d['year'] in dict) {
                        dict[d['year']] += 1;
                    }
                    else {
                        dict[d['year']] = 1;
                    }
                    if (d['qCaretaker'] !== "Private") {
                        if (d['year'] in public) {
                            public[d['year']] += 1;
                            caretakers[d['qCaretaker']] = 1;
                        }
                        else {
                            public[d['year']] = 1;
                            caretakers[d['qCaretaker']] = 1;
                        }
                    }
                    else {
                        if (d['year'] in private) {
                            private[d['year']] += 1;
                        }
                        else {
                            private[d['year']] = 1;
                        }
                    }
                }
            });

            var years = Object.keys(dict);

            const yearExtent = d3.extent(years);
            const yearScale = d3.scaleTime().domain(yearExtent).range([0, chartWidth - 20]);
            let bottomAxis = d3.axisBottom(yearScale).tickFormat(Math.abs).ticks(15);
            let bottomGridlines = d3.axisBottom(yearScale).ticks(15)
                .tickSize(-chartHeight - 10)
                .tickFormat("")
            annotations.append("g")
                .style("font-size", 12)
                .attr("class", "x-axis")
                .attr("transform", `translate(${margin.left},${chartHeight + margin.top})`)
                .call(bottomAxis);
            annotations.append("g")
                .attr("class", "gridlines")
                .attr("transform", `translate(${margin.left},${chartHeight + margin.top})`)
                .call(bottomGridlines);
            annotations.append("text")
                .attr("transform", `translate(${(chartWidth + margin.left) / 2},${chartHeight + margin.bottom})`)
                .text("Year")
                .style("fill", "rgb(80, 80, 80)");

            const countScale = d3.scaleLinear().domain([-20, 525]).range([chartHeight, 0]);
            let leftAxis = d3.axisLeft(countScale)
            let leftGridlines = d3.axisLeft(countScale)
                .tickSize(-chartWidth - 10)
                .tickFormat("")
            annotations.append("g")
                .style("font-size", 12)
                .attr("class", "y-axis")
                .attr("transform", `translate(${margin.left - 20}, ${margin.top})`)
                .call(leftAxis)
            annotations.append("g")
                .attr("class", "gridlines")
                .attr("transform", `translate(${margin.left - 20}, ${margin.top})`)
                .call(leftGridlines);
            annotations.append("text")
                .style("text-anchor", "end")
                .attr('transform', `rotate(-90)`)
                .attr("dx", "-175")
                .attr("dy", "30")
                .text("# of Trees Planted")
                .style("fill", "rgb(80, 80, 80)");

            const colorScale = d3.scaleOrdinal(d3.schemeTableau10);

            var lineGen = d3.line()
                .x(d => yearScale(d[0]))
                .y(d => countScale(d[1]));

            gTags1 = chartArea.selectAll('g.tags').data(Object.entries(private))
                .join('g')
                .attr('class', 'tag')
                .style('stroke', colorScale(private));

            gTags1.append('path')
                .attr('d', lineGen(Object.entries(private)))
                .style('stroke-width', 2)
                .style('fill', 'none');

            gTags1.selectAll("circle").data(Object.entries(private))
                .join("circle")
                .attr("r", 3)
                .attr("fill", colorScale(private))
                .attr("cx", d => yearScale(d[0]))
                .attr("cy", d => countScale(d[1]));

            gTags2 = chartArea.selectAll('g.tags').data(Object.entries(public))
                .join('g')
                .attr('class', 'tag')
                .style('stroke', colorScale(public));

            gTags2.append('path')
                .attr('d', lineGen(Object.entries(public)))
                .style('stroke-width', 2)
                .style('fill', 'none');

            gTags2.selectAll("circle").data(Object.entries(public))
                .join("circle")
                .attr("r", 3)
                .attr("fill", colorScale(public))
                .attr("cx", d => yearScale(d[0]))
                .attr("cy", d => countScale(d[1]));

        }
        requestData();
    </script>

</body>

</html>