body {
    font-family: 'Trebuchet MS', sans-serif;
    color: rgb(110, 110, 110);
    margin-bottom: 100px;
}

.y-axis,
.x-axis {
    stroke-width: 2;
}

h2 {
    color: rgb(134, 134, 134);
    font-weight: 100;
}

a {
    color: #4E79A7;
}

.v-title {
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 20px;
}

.private,
.public {
    width: 12px;
    height: 12px;
    align-self: center;
}

.private {
    background-color: #4E79A7;
}

.public {
    background-color: #F28E2C;
}

.care {
    margin-left: 15px;
    font-size: 14px;
    color: rgb(80, 80, 80);
}

.flex {
    display: flex;
    justify-content: center;
}

.circle {
    border-radius: 50%;
}

.legend .care {
    padding-right: 20px;
}

.legend {
    display: flex;
    justify-content: center;
}

p {
    background-color: rgb(238, 238, 238);
    color: rgb(134, 134, 134);
    padding: 35px 60px 35px 60px;
    margin: 30px 85px 0px 85px;
    font-size: 14px;
}